Follow me:
<br />
<div id="stalker">
  {% if site.theme.social.github %}
  <a title="{{ site.theme.social.github }} on Github" href="http://github.com/{{ site.theme.social.github }}">
    <i class="fa fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.theme.social.twitter %}
  <a title="{{ site.theme.social.twitter }} on Twitter" href="http://twitter.com/{{ site.theme.social.twitter }}">
    <i class="fa fa-twitter-square"></i>
  </a>
  {% endif %}

  {% if site.theme.social.linkedin %}
  <a title="{{ site.theme.social.linkedin }} on LinkedIn" href="http://linkedin.com/in/{{ site.theme.social.linkedin }}">
    <i class="fa fa-linkedin-square"></i>
  </a>
  {% endif %}

  {% if site.theme.social.google %}
  <a title="{{ site.theme.social.google }} on Google" href="http://plus.google.com/{{ site.theme.social.google }}" rel="author">
    <i class="fa fa-google-plus-square"></i>
  </a>
  {% endif %}

  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="fa fa-rss-square"></i>
  </a>
</div>
